@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sports World';
  src: url('./fonts/Sports-World-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  @apply bg-blue-700 text-white;
  font-family: 'Sports World', sans-serif;
}

/* Custom tooltip styles */
.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: white !important;
  font-size: 14px !important;
  padding: 10px !important;
  border-radius: 5px !important;
  max-width: 350px !important;
}

.custom-tooltip .react-tooltip-arrow {
  color: rgba(0, 0, 0, 0.8) !important;
}
