@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sports World';
  src: url('./fonts/Sports-World-Regular.ttf') format('truetype'); 
}

body {
  @apply bg-blue-700 text-white;
  font-family: 'Sports World', sans-serif;
}